@import url("./font.css");

:root {
    --btn-color: #D30303;
}

* {
    font-family: 'Impact', sans-serif !important;
    font-weight: 500 !important;
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100dvw;
    min-height: 100%;
    filter: blur(2px);
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
}

.darken {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    opacity: 0.6;
}

.logo img {
    z-index: 100;
    width: 350px;
    /* filter: drop-shadow(5px 5px 5px rgba(0,0,0,1)); */
}

.buttons {
    margin: 100px;
    margin-bottom: 120px;
}

.btn {
    text-decoration: none;
    color: #D30303;
    padding: 12px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-wrap: nowrap;
    font-size: 24px;
    border: 2px solid #D30303;
    border-radius: 5px;
  }

.btn:hover {
    color: black;
    background-color: #D30303;
}

/* .btn-1 {
    position: relative;
    color: var(--btn-color);
    border: none;
    z-index: 2;
  }
  .btn-1:before,
  .btn-1:after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    border: 3px solid;
    
    z-index: -1;
    transition: all 0.3s ease;
  }
  .btn-1:before{
     top: 0;
     left: 0;
     border-bottom-color: transparent;
     border-right-color: transparent;
     border-top-color: var(--btn-color);
     border-left-color: var(--btn-color);
  }
  .btn-1:after{
     bottom: 0;
     right: 0;
     border-top-color: transparent;
     border-left-color: transparent;
     border-bottom-color: var(--btn-color);
     border-right-color: var(--btn-color);
  }
  .btn-1:hover:before,
  .btn-1:hover:after {
    border-color: var(--btn-color);
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px var(--btn-color), 0 0 5px var(--btn-color) inset;
  } */

.content {
    display: flex;
    margin: 0 auto;
    width: max-content;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    /* background-color: rgba(0, 0, 0, 0.5);
    border-top: 2px solid rgba(255, 255, 255, 0.1); */
}

.text {
    color: white;
    /* text-shadow: 0px 0px 10px white; */
    max-width: 800px;
    text-align: center;
    font-size: 18px;
}

@media only screen and (max-width: 1024px) {
    .content {
        padding: 0;
        margin: 0 auto;
    }
    .logo img {
        margin-top: 50px;
        width: 200px;
    }
    .text {
        max-width: 350px;
        font-size: 18px;
    }
    .buttons {
        margin-top: 40px;
        margin-bottom: 60px;
        margin-left: 0;
        margin-right: 0; 
    }
    .btn {
        padding: 10px 25px;
    }
    .btn-1:before,
    .btn-1:after {
        border-color: var(--btn-color);
        height: 100%;
        width: 100%;
        box-shadow: 0 0 5px var(--btn-color), 0 0 5px var(--btn-color) inset;
    }
}